.appointment-form {
  background-color: white;
  text-align: center;
  padding: 10px;
}

.appointment-inputs {
  border: 2px solid rgba(0,0,0,0.3);
  width: 80%;
  margin: 10px;
  height: 38px;
  background: none;
  border-radius: 10px;
  font-size: 1.5em;
  text-align: center;
  background-color: #fff;
}

.form-container {
  margin-top: 4px;
  height: 430px;
  overflow: scroll;
  text-align: center;
  min-width: 240px;
}

select {
  background-color: red;
}
