nav {
  background-color: #2E363E;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
}

nav li {
  text-align: center;
  padding: 10px;
}

nav li a {
    display: block;
    color: #82878C;
    height: 20px;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:hover {
    background-color: #1C2025;
    color: #BFC1C2;
}

nav li a:hover {
    background-color: #1C2025;
    color: #BFC1C2;
}

.fa.fa-home.fa-2x {
  color: #82878C;
}

.fa.fa-user-md.fa-2x {
  color: #82878C;
}

.logout {
  position:absolute;
  top:570px;
  left:0;
  width:100%;
}
