nav {
  background-color: #2E363E;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
  align-items: center;
  /*flex-wrap: wrap;*/
}

nav li a {
    display: block;
    color: #82878C;
    height: 50px;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}

nav li:hover {
    background-color: #1C2025;
    color: #BFC1C2;
}

nav li a:hover {
    background-color: #1C2025;
    color: #BFC1C2;
}

.fa.fa-home.fa-2x {
  color: #82878C;
}

.fa.fa-user-md.fa-2x {
  color: #82878C;
}

/*.fa {
  color: #82878C;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
}
