.physicianPage {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: red;
  overflow: hidden;
}

.physicianForm {
  width: 100%;
  background-color: blue;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
}

.physician-inputs {
  border: 1px solid #A5ABA8;
  width: 80%;
  margin: 10px;
  height: 38px;
  background: none;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  background-color: #fff;
}

.all-physicians {
  height: 100%;
  width: 100%;
}

.physician {
  padding: 10px;
  margin: 5px;
  background-color: #fff;
}

.physician p {
  margin: 0;
  background-color: #f1f1f1;
}
