/*.physicianPage {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: red;
  overflow: hidden;
}

.physicianForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: blue;
  max-height: 300px;
  overflow-y: scroll;
}*/

.all-physicians {
  height: 100%;
  width: 100%;
  background-color: pink
  z-index: 5;
}

/*.physician {
  padding: 10px;
  margin: 5px;
  background-color: #f1f1f1;
}*/

/*.physician p {
  margin: 0;
  background-color: #f1f1f1;
}*/
